@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --primary: #74512D;
    --secondary: #e6ecff;
    --title-color: #2b2b2b;
    --font: "Sansation";
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: var(--font);
}

a,
button {
    cursor: pointer;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.viewport {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: stretch;

}

.side-bar {
    position: sticky;
    top: 0;
    left: 0;
    width: 23%;
    height: 100vh;
    background-color: var(--primary);
    padding: 24px 0;
}

.side-bar .logo {
    margin-bottom: 45px;
    color: white;
    cursor: pointer;

    & img {
        width: 150px;
        margin-left: 10%;
    }
}

.side-bar-nav-list {
    list-style: none;

    & li {
        font-size: 24px;
        font-weight: 500;
        cursor: pointer;

        & a {
            width: 100%;
            padding-block: 14px;
            padding-left: 12%;
            display: inline-block;
            color: white;

            & i {
                margin-right: 6px;
            }
        }

        & a.active {
            background-color: var(--secondary);
            color: var(--primary);
        }
    }

    & li:hover {
        background-color: var(--secondary);

        & a {
            color: var(--primary);
        }
    }
}

.dashboard-cont {
    width: 77%;
    height: 100%;
}

.header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 24px;
}

.header-container {
    font-size: 24px;
}

.header-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .profile-btn {
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 50%;
        background-color: var(--primary);
        color: var(--secondary);
        font-size: 24px;
    }
}

.food-cont {
    height: 90vh;
    background-color: var(--secondary);
    overflow-y: scroll;
    padding-block: 20px;
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    & .section-title {
        font-size: 36px;
        font-weight: 500;
        color: var(--title-color);
        
    }

    & button {
        min-width: 250px;
        border: none;
        border-radius: 16px;
        background-color: var(--primary);
        color: var(--secondary);
        padding: 10px 24px;
        font-size: 16px;
        font-family: var(--font);
    }
}

.products-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.product {
    padding: 15px;
    border-radius: 30px;
    background-color: var(--secondary);
    box-shadow: -12px 12px 10px 0 rgba(0, 0, 0, 0.5), 15px -15px 10px 0 rgba(255, 255, 255);
    
    & .product-image {
        width: 100%;
        margin-bottom: 10px;
    }
    
    & .product-image img {
        aspect-ratio: 3 / 2;
        object-fit: cover;
        width: 100%;
        border-radius: 15px 15px 0 0;
    }
    
    & .product-info {
        display: flex;
        align-items: start;
        gap: 10px;
    }
    
    & .product-info div {
        width: 60%;
    }
    
    & .product-info div .product-name {
        font-size: 20px;
        font-weight: 600;
        color: var(--title-color);
        margin-bottom: 6px;
    }
    
    & .product-info div .product-desc {
        font-family: 18px;
        font-weight: 400;
        color: var(--title-color);
        margin-bottom: 6px;
    }
    
    & .product-info .product-price {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        color: var(--title-color);
        margin-block: 4px 8px;
        padding: 8px 12px;
        background-color: var(--secondary);
        box-shadow: -6px 6px 10px 0 rgba(0, 0, 0, 0.5), 8px -8px 10px 0 rgba(255, 255, 255);
        border-radius: 16px;
        flex: 1;
    }
}

.category {
    border: 3px solid var(--primary);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;

    & h3 {
        font-size: 24px;
        font-weight: 700;
        color: var(--title-color);
    }
}