@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --primary: #74512D;
    --secondary: #FFFDF6;
    --title-color: #2b2b2b;
    --font: "Sansation";
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: var(--font);
}

a,
button {
    font-family: var(--font);
    cursor: pointer;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.viewport {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: stretch;

}

.side-bar {
    position: sticky;
    top: 0;
    left: 0;
    width: 23%;
    height: 100vh;
    background-color: var(--primary);
    padding: 24px 0;
}

.side-bar .logo {
    margin-bottom: 45px;
    color: white;
    cursor: pointer;

    & img {
        width: 150px;
        margin-left: 10%;
    }
}

.side-bar-nav-list {
    list-style: none;

    & li {
        font-size: 24px;
        font-weight: 500;
        cursor: pointer;

        & a {
            width: 100%;
            padding-block: 14px;
            padding-left: 12%;
            display: inline-block;
            color: white;

            & i {
                margin-right: 6px;
            }
        }

        & a.active {
            background-color: var(--secondary);
            color: var(--primary);
        }
    }

    & li:hover {
        background-color: var(--secondary);

        & a {
            color: var(--primary);
        }
    }
}

.dashboard-cont {
    width: 77%;
    height: 100%;
}

.header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 24px;
}

.header-container {
    font-size: 24px;
}

.header-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .profile-btn {
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 50%;
        background-color: var(--primary);
        color: var(--secondary);
        font-size: 24px;
    }
}

.food-cont {
    height: 90vh;
    background-color: var(--secondary);
    overflow-y: scroll;
    padding-block: 20px;
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    & .section-title {
        font-size: 36px;
        font-weight: 500;
        color: var(--title-color);
        
    }

    & button {
        min-width: 250px;
        border: none;
        border-radius: 16px;
        background-color: var(--primary);
        color: white;
        padding: 10px 24px;
        font-size: 16px;
        font-family: var(--font);
    }
}

.product {
    padding: 15px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    border-bottom: 1px solid #d3d1cb;

    & td {
        width: 20%;
        height: inherit;
        padding-inline: 15px;
        display: flex;
        align-items: center;
    }

    & .product-image {
        display: block;
        margin: 0 auto;
        border: none;
        
        & img {
            width: 60%;
            aspect-ratio: 1 / 1;
            object-fit: contain;
        }
    }

    & .product-name {
        font-weight: 500;
        font-size: 18px
    }

    & .update-btn,
    & .delete-btn {
       justify-content: center;
    }

    & .update-btn button {
        border: none;
        background-color: forestgreen;
        padding: 12px 32px;
        border-radius: 16px;
        color: white;
        font-family: var(--font);
        font-size: 16px;
    }

    & .delete-btn button {
        border: none;
        background-color: red;
        padding: 12px 32px;
        border-radius: 16px;
        color: white;
        font-family: var(--font);
        font-size: 16px;
    }
}

.product:hover {
    background-color: #eceae4;
}

#create-form {
    width: 60%;

    & div {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        gap: 10px;
        height: 32px;

        & label {
            font-size: 18px;
            font-weight: 500;
        }

        & input {
            flex: 1;
            height: 100%;
            padding: 8px 4px;
            border: 1px solid var(--primary);
            font-family: var(--font);
            font-size: 18px;
        }

        & input:focus,
        & input:focus-visible,
        & select:focus,
        & select:focus-visible {
            outline: none;
        }

        & select {
            font-family: var(--font);
            height: 100%;
            flex: 1;
        }

        & input[type="number"],
        & input[type="number"]::-webkit-inner-spin-button,
        & input[type="number"]::-webkit-outer-spin-button {
            appearance: none;
        }

        & input[type="file"] {
            font-size: 16px;
            padding: 4px;
        }
    }

    & button {
        padding: 12px 24px;
        font-size: 18px;
        border: none;
        color: white;
        border-radius: 12px;
        margin-right: 20px;
    }

    & button[type="button"] {
        background-color: red;
    }

    & button[type="submit"] {
        background-color: forestgreen;
    }
}

.category {
    border: 3px solid var(--primary);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;

    & h3 {
        font-size: 24px;
        font-weight: 700;
        color: var(--title-color);
    }
}

@media screen and (max-width: 1024px) {
    .product:hover {
        background-color: var(--secondary);
    }
}