html,
body {
    background-color: #9095a0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.create-btn {
    text-align: center;
    border: 2px solid green;
    border-radius: 15px;
}

.create-btn a {
    text-decoration: none;
    color: black;
}

#orders-container {
    background-color: white;
}

.footer-div {
    width: 100%;
    background-color: white;
    height: 10px;
}

.order {
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    margin: 10px;
    border: 1px solid blue;
    border-radius: 10px;
    justify-content: center;
}

.table {
    font-size: large;
    padding: 10px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid black;
}

.table div {
    /* font-size: x-large; */
    color: blue;
    font-weight: bold;
}

.products {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.product {
    width: 80%;
    display: flex;
    align-content: center;
    padding: 4px 0 4px 0;
    margin: 4px 0 4px 0;
    border-radius: 5px;
    cursor: pointer;
}

.product-status {
    display: flex;
    width: 20%;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    color: blue;
}

.product img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 6px;
}

.product:hover {
    background-color: #c0c2c6;
}

.product div {
    align-content: center;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.total-price-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0;
    border-top: 1px solid black;
}

.product-prepared {
    font: italic;
    text-decoration: line-through;
    color: gray;
}

.main-container {
    width: 35vw;
    height: 100vh;
    background-color: white;
    margin: 0;
}

h1 {
    text-align: center;
}

.del-popup {
    width: 35vw;
    height: 200px;
    background-color: white;
    position: fixed;
    top: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(173, 167, 167);
}

@media screen and (max-width: 1000px) {
    .main-container {
        width: 50vw;
        height: 100vh;
    }

    .del-popup {
        width: 50vw;
    }
}

@media screen and (max-width: 680px) {
    .main-container {
        width: 100vw;
        height: 100vh;
    }

    .del-popup {
        width: 100%;
    }
}

.btn {
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}

.del-btn {
    font-size: large;
    color: white;
    background-color: red;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.yellow {
    color: yellow;
}

.green {
    color: limegreen;
}

.blue {
    color: blue;
}